{% extends 'base.twig' %}

{% block body %}
    <div class="txt-center">
        <p>
            Welcome, {{ name }}!
        </p>
    </div>

    <br><br>

    <form class="txt-center" method="post" action="">
        <p>
            <label for="name">
                Name
            </label>
            <br>
            <input id="name" type="text" name="name" placeholder="e.g. Jim Gordon">

            {% if csrf %}
                <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
            {% endif %}
        </p>

        <p>
            <button>
                Submit
            </button>
        </p>
    </form>

    {% if form.name %}
        <p>
            Your name is: <strong>{{ form.name }}</strong>
        </p>
    {% endif %}
{% endblock %}
